.header {
  grid-column: 2/-1;
  justify-content: space-between;  
  align-items: flex-start;
  padding: 1rem 2rem;  
  align-items: center;
  width: 100%;
  display: flex;
  background-color: $bg-primary;
  z-index: 10;   
  position: relative;
  border-bottom: 1px solid $border-primary;
  padding-left: 3rem;
  @include response(phone) {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
    row-gap: 1rem;
    padding-left:2.5rem;    
  }
  @include response(s-2-phone) {
  padding-left: 0px;   
  }
  @include response(s-3-phone) {
    padding-left: 0px;   
    } 
  &::after {  
    content: "";
    position: absolute;
    height: 10rem; 
    z-index: -1;
    width: 70rem;
    top: 0%;
    background-image: radial-gradient(
      ellipse 100% 100% at top,
      #f6c3df 20%,
      rgba(255, 255, 255, 0) 100%
    );
    filter: blur(70px); 
    right: 5%;
    @include response(s-2-tab-port) {
      width: 40rem;
    }
    @include response(s-3-phone) {
      width: 20rem;
    }
  }
  &__greet {
    width: max-content;
    .welcome {
      display: block;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 1.3rem;
      color: $black-2;
    }
    .header-user-name {
      font-size: 1.5rem;
      font-weight: 550;
      text-transform: capitalize;
    }
  }
  &__options {
    display: flex;
    gap: 1rem;
    align-items: start;
    @include response(phone) {
      justify-self: end;
    }
    .help,
    .notification {
      background-color: white;
      padding: 0.7rem;
      border-radius: 50%;
      font-size: 1.5rem;
      transition: all 0.4s;
      @include response(s-3-phone) {
        font-size: 1.2rem;
      }
      &:hover {
        background-color: $black-light;
        color: white;
        cursor: pointer;
      }
    }
  }
}
