$bg-primary: #f7f5f3;
$grey-dark: #48494b;
$black-heading: #010101;
$grey-light-2: #545658;
$nav-gradient-blue: #eaedf7;
$nav-gradient-pink: #f4e7f2;
$gradient-pink: #f2e3e9;
$blue: #cad9fa;
$black-2: #373237;
$grey-light: #636566;
$border-primary: #e3e3e3;
$blue-gradient: #e8e9f6;
$blue-card-gradient: #e0e8f8;
$violet: #cfc9f9;
$peach: #f9cacd;
$violet-light: #dde1f4;
$orange: #f8e3cb;
$green: #c1f4e6;
$pink: #fedff8;
$cyan: #caeff9;
$black-light: #0f0f0f;
$blue-heading: #688dd1;
$blue-progress-bg: #bdceee;
$blue-progress-bar: #4270c3;
$blue-bg-secondary: #eaeffd;
$violet-gradient: #e4dff8;
$violet-text: #7662b1;
$violet-heading: #4e3396;
$violet-progress-bg: #c6bde4;
$violet-bg-secondary: #e6e4f7;
$orange-gradient: #fbeee0;
$orange-progress-bg: #f7dbc0;
$orange-heading: #d17a27;
$orange-progress-bar: #c96509;
$orange-text: #cf761e;
$orange-bg-secondary: #fbf4eb;
$peach-gradient: #f8e1de;
$peach-heading: #da6f70;
$peach-text: #e38d8e;
$peach-progress-bg: #f3ccca;
$peach-bg-secondary: #fdeeef;
$peach-progress-bar: #dc7274;
$green-gradient: #dcf3e5;
$green-heading: #329b56;
$green-text: #329b56;
$green-progress-bg: #b4e2c9;
$green-progree-bar: #319a56;
$green-bg-secondary: #e5f9f4;
$pink-gradient: #f8e1ef;
$pink-heading: #dd61c7;
$pink-text: #eba2df;
$pink-bg-secondary: #fdf2fb;
$cyan-gradient: #dff2f8;
$cyan-heading: #2aa0bf;
$cyan-text: #58b5cd;
$cyan-bg-secondary: #e9f9fc;
$cyan-check: #1394b7;
$peach-bg-secondary: #fdeeef;
$peach-progress-bar: #dc7274;
$violet-light-gradient: #e4eefd;
$violet-light-heading: #5d7cd7;
$violet-light-text: #869ce1;
$violet-light-bg-secondary: #f2f3fb;
$purple-light: #e8e0fe;
$purple-light-gradient: #e2e4f9;
$purple-light-heading: #7469d0;
$purple-light-text: #786ed2;
$purple-light-bg-secondary: #f2effd;
$orange-light: #fdeddf;
$orange-light-gradient: #f9ede1;
$orange-light-heading: #cb8947;
$orange-light-text: #dbac7b;
$orange-light-bg-secondary: #fff7f1;
$peach-dark: #fde4de;
$peach-dark-gradient: #f8e8e1;
$peach-dark-heading: #cc735a;
$peach-dark-text: #d68d79;
$peach-dark-bg-secondary: #fef4f2;
$blue-text: #4a76c6;
